//
// Wells
// --------------------------------------------------


// Base class
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: @well-bg;
  border: 1px solid @well-border;
  border-radius: @border-radius-base;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

// Sizes
.well-lg {
  padding: 24px;
  border-radius: @border-radius-large;
}
.well-sm {
  padding: 9px;
  border-radius: @border-radius-small;
}

//
// Coloured Sections
// ------------------
// Full width with contrast text and padding
// --------------------------------------------------

.section {
  padding:  @padding-section;
}

.section-primary {
  background-color: @brand-primary;
  padding:  @padding-section;
  color: contrast(@brand-primary, black, white, 43%);
}

.section-info {
  background-color: @brand-info;
  padding:  @padding-section;
  color: contrast(@brand-info, black, white, 43%);
}

.section-success {
  background-color: @brand-success;
  padding:  @padding-section;
  color: contrast(@brand-success, black, white, 43%);
}

.section-warning {
  background-color: @brand-warning;
  padding:  @padding-section;
  color: contrast(@brand-warning, black, white, 43%);
}

.section-danger {
  background-color: @brand-danger;
  padding:  @padding-section;
  color: contrast(@brand-danger, black, white, 43%);
}

.section-gray {
  background-color: @gray;
  padding:  @padding-section;
  color: contrast(@gray, black, white, 43%);
}

.section-gray-lighter {
  background-color: @gray-lighter;
  padding:  @padding-section;
  color: contrast(@gray-lighter, black, white, 43%);
}

.section-white {
  background-color: white;
  padding:  @padding-section;
  color: #333;
}

.section-dark {
  background-color: #111;
  padding:  @padding-section;
  color: #f3f3f3;
}
